<!DOCTYPE html>
<html>
<head>
<title>YoYak</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="/js/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('data', function(data){
    console.log(data);
    addName(data.username, data.count);
  });

  names = [];

  function sendLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      }
  }
  function showPosition(position) {
      $.ajax({
        url: '/yo/location',
        type: 'GET',
        data: {
          lat: position.coords.latitude,
          lon: position.coords.longitude
        },
        success: function(data){
          console.log(data);
          for (var i = 0; i < data.length; i++) {
            addName(data[i].username, data[i].count);
          }
        }
      });
  }

  sendLocation();

  function addName(name, size) {
    $("#title").animate({
      opacity: 0.3
    }, 300);
    var found = false;
    for (var i = 0; i < names.length; i++) {
      if (names[i] == name) {
        found = true;
        break;
      }
    }
    if (found == false) {
      var el = $('<span id=' + name + '>').text(name);
      var randomColor = '#'+(Math.random()*0xFFFFFF<<0).toString(16);
      el.css('fontSize', size);
      el.css('left', Math.random()*$(document).width() );
      el.css('top', Math.random()*$(document).height() );
      el.css('color', '#ffffff');
      names.push(name);
      el.css('opacity', 0);
      $('#names').append(el);
      adjustPos(el);
      el.animate({
        opacity: 1
      }, 300);
    } else {
      el = $('#' + name);
      el.css('fontSize', size* 2);
      adjustPos(el);
    }
  }

  function adjustPos(el) {
    if (parseInt(el.height()) + parseInt(el.css('top')) > $(document).height()) {
      var newpos = parseInt(el.css('top')) - 0.5 * parseInt(el.height());
      el.animate({
        top: newpos
      }, 300);
    }
    if (parseInt(el.width()) + parseInt(el.css('left')) > $(document).width()) {
      var newpos = parseInt(el.css('left')) - 0.5 * parseInt(el.width());
      el.animate({
        left: newpos
      }, 300);
    }
  }
</script>

</head>

<body>
<div id="names">
</div>
<div id="title">
  YoYak
  <div>please YO your location :)</div>
</div>
</body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56797926-1', 'auto');
    ga('send', 'pageview');

</script>
</html>