<!DOCTYPE html>
<html>
<head>
<title>YoYak</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="/js/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('data', function(name){
    console.log('data');
    //addName(name);
  });

  names = [];

  function sendLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      }
  }
  function showPosition(position) {
      $.ajax({
        url: '/yo/location',
        type: 'GET',
        data: {
          lat: position.coords.latitude,
          lon: position.coords.longitude
        },
        success: function(){}
      });
  }

  sendLocation();

  function addName(name) {
    var found = false;
    for (var i = 0; i < names.length; i++) {
      if (names[i] == names) {
        found = i;
        break;
      }
    }
    if (found === false) {
      var el = $('<span id=' + name + '>').text(name);
      var randomColor = '#'+(Math.random()*0xFFFFFF<<0).toString(16);
      el.css('fontSize', 20);
      el.css('left', Math.random()*$(document).width() );
      el.css('top', Math.random()*$(document).height() );
      el.css('color', randomColor);
      names.push(name);
      $('#names').append(el);
    } else {
      el = $('#' + names);
      var size = parseInt(el.css('fontSize')) + 2;
      el.css('fontSize', size);
      if (parseInt(size) + el.css('top') > $(document).height()) {
        console.log('out')
      }
    }
  }
</script>

</head>

<body>
<div id="names">
</div>
<div id="title">
  YoYak
</div>
</body>
</html>